<% set_title :thank_you %>
<% set_header :thank_you %>
<p>We have now received your registration information and your CV!</p>
<p>You will be shortly notified on your participation in the WEC in the e-mail address you provided!"</p>
<p>Thank you!</p>
