<% set_title :about_us %>
<% set_header :about_us %>

<p>
  <a href="http://www.bestbarcelona.org" target="_blank">BEST-UPC</a> és una de les associacions d'estudiants més actives de la UPC. Es va fundar al 1989 i al llarg dels anys ha esdevingut una referència pels estudiants de la UPC que volen ampliar la seva educació tècnica a d'altres països. Cada any centenars d'estudiants de la nostra universitat sol•liciten cursos BEST.
</p>

<p>
  BEST-UPC és un dels 86 grups locals BEST, formant part d'una de les associacions més importants d'Europa. Els seus membres són estudiants de diferents facultats de la UPC que voluntàriament organitzen i coordinen les activitats de l'associació.
</p>

<p>
  El nostre objectiu és proporcionar formació complementària, obrir horitzons i apropar les empreses als estudiants de la UPC. Portem més 20 anys oferint cursos de caràcter tecnològic arreu d'Europa i des de fa 5 anys som pioners en les competicions d'enginyeria que, edició rere edició, aconsegueixen més ressò convertint-se així en un èxit de participació.
</p>

<br><br>
<div class="container-img">
<%= image_tag("BEST_UPC.png", :size => "610x350", :alt => "BEST Barcelona") %>
</div>
