<% set_title :about_us %>
<% set_header :about_us %>

<p>
  <a href="http://www.bestbarcelona.org" target="_blank">BEST-UPC</a> is one of the most 
  active students' associations of UPC. Founded in 1989, it has become a reference for 
  those UPC students looking for a way to widen their technical education in other European countries.
  Every year, hundreds of university students apply for BEST courses.
</p>

<p>
  BEST-UPC is one of the 81 local BEST groups, being a part of one of the most important 
  European associations. Its members are students of any UPC faculty, who voluntarily 
  organize and coordinate the association activities.
</p>

<p>
  Our main objective is to offer complementary education to students, widening horizons and 
  approaching companies to universities. We have been offering technological courses for more 
  than 2 decades. For the past 3 years we have been pioneering the organization of engineering 
  competitions, such as BEST-WEC. 
  Year after year, BEST-UPC coordinated competitions are becoming more well-known, and are a 
  complete success in terms of participation.
</p>

<br><br>
<div class="container-img">
<img src="BEST_UPC.png" width="610" height="350">
</div>
