<% set_title :about_us %>
<% set_header :about_us %>

<p>
  <a href="http://www.bestbarcelona.org" target="_blank">BEST-UPC</a> es una de las asociaciones de estudiantes más activas de la UPC. 
  Fundada en 1989, a lo largo de sus años de vida se ha convertido en un referente para los estudiantes de la UPC que buscan ampliar su formación técnica 
  en otros países europeos. Cada año centenares de estudiantes de nuestra universidad solicitan cursos BEST.
</p>

<p>
  BEST-UPC es uno de los 86 grupos locales de BEST, siendo parte de una de las asociaciones europeas de más importancia. 
  Sus miembros son estudiantes de diferentes escuelas de la UPC que de manera totalmente voluntaria, organizan y coordinan las actividades de la asociación.
</p>

<p>
  Nuestro objetivo es proporcionar formación complementaria, ampliar horizontes y acercar las empresas a los estudiantes. 
  Llevamos más de 20 años ofreciendo cursos de carácter tecnológico y desde hace 5 somos pioneros en la organización de competiciones de ingeniería que, 
  edición tras edición, crecen en notoriedad convirtiéndose así en un éxito de participación.
</p>

<br><br>
<div class="container-img">
<%= image_tag("BEST_UPC.png", :size => "610x350", :alt => "BEST Barcelona") %>
</div>
