<% set_title "Agenda" %>
<% set_header "Agenda" %>

<p>The following BEST-WEC schedule might be modified according to needs.</p><br />

<div class="container-img"> <%= image_tag("agenda.png") %> </div>
