<% set_title :agenda %>
<% set_header :agenda %>

<p>The following BEST-WEC schedule might be modified according to needs.</p><br />

<div class="container-img"> <%= image_tag("agenda.png") %> </div>
