<% set_title :agenda %>
<% set_header :agenda %>

<p>El programa de la BEST-WEC que aparece a continuación puede verse modificado en función de las necesidades.</p><br />

<div class="container-img"> <%= image_tag("agenda.png") %> </div>
