<% set_title :agenda %>
<% set_header :agenda %>

<p>El programa de la BEST-WEC que es mostra a continuació pot veure's modificat segons les necessitats.</p><br />

 <ul>
        <li>Workshop Accenture: Lunes 28 Nov de 16 a 19h</li>
        <li>Workshop Danone: Jueves 1 Dic de 11 a 14h</li>
        <li>Workshop Everis: Jueves 1 Dic de 16 a 19h</li>
        <li>Case Study Henkel y Agbar: Martes de 8:30 a 19h</li>
        <li>Case Study TMB: Miércoles de 8:30 a 19h</li>
        <li>Team Design Robótica: Viernes de 8:30 a 14h</li>
</ul>
