<% set_title :agenda %>
<% set_header :agenda %>

<p>El programa de la BEST-WEC que es mostra a continuació pot veure's modificat segons les necessitats.</p><br />

<div class="container-img"> <%= image_tag("agenda.png") %> </div>
