<% set_title "Carreer Support" %>
<% set_header "Carreer Support" %>

<p>	BEST Career Support is an on-line BEST service which connects students and engineers with the companies of the entire Europe. It is a unique opportunity to open the door for a new and exciting future, gaining international experience at the same time.</p>
<p>BEST Career Support gives you the opportunity to surf among the various offers of companies and universities letting them know you through your curriculum vitae.</p>
<p>Do not hesitate and <a href="http://www.best.eu.org/student/career">send your CV</a>!</p><br />
<div class="container-img">
<%= image_tag("BCS.jpg", :size => "434x327", :alt => "BEST Carrer Support") %>
</div>
