<% set_title :career_support %>
<% set_header :career_support %>

<p>BEST Career Support és un servei on-line de BEST que connecta estudiants i enginyers amb empreses de tota Europa. És una oportunitat única per obrir portes a un nou i excitant futur, a la vegada que es guanya experiència internacional.</p>

<p>BEST Career Support et dóna l'oportunitat de navegar per les ofertes de diferents empreses i universitats i donar-te a conèixer mitjançant el teu Currículum Vitae.</p>

<p>No ho dubtis més, <a href="http://www.best.eu.org/student/career">envia'l</a>!</p><br />
<div class="container-img">
<%= image_tag("BCS.jpg", :size => "434x327", :alt => "BEST Carrer Support") %>
</div>
