<% set_title :career_support %>
<% set_header :career_support %>

<p>BEST Career Support es un servicio on-line de BEST que conecta estudiantes e ingenieros con empresas de toda Europa. Es una oportunidad única para iniciar un nuevo y apasionante futuro a la vez que se adquiere experiencia internacional.</p>
<p>BEST Career Support te da la oportunidad de acceder a diversas ofertas de empleo, prácticas y eventos en empresas y universidades, dándote a conocer mediante tu Currículum Vitae.</p>
<p>¡No lo pienses más y <a href="http://www.best.eu.org/student/career">envía tu CV</a>!</p><br />
<div class="container-img">
<%= image_tag("BCS.jpg", :size => "434x327", :alt => "BEST Carrer Support") %>
</div>
