<% set_title :competitions %>
<% set_header :competitions %>

<p>Week Engineering Competition is an engineering competition organised by Universitat Politecnica de Catalunya, where students can use their knowledgement and personal abilities to solve, in groups, a task or problem presented by a company. The competition is divided in 3 stages: Local Stage, National Final and International Final.</p>

<p>Local Stage is enshrined in the WEC. The competition is divided in 2 categories: Case Study and Team Design. Team Design will be the last day, and the winners will go directly to the National Final. Case Study will be distributed in the whole week. The winners of each Case Study form the different companies will compete the last day for a place in the National Final.</p>

<p>National Final consists in a competition between the winning teams of each of the local stages we have (Universitat Politècnica de Catalunya, Universidad Politécnica de Madrid, Universidad CarlosII de Madrid, Universidad de Valladolid and Universidad de Las Palmas de Gran Canaria), where there are 2 categories too. The winners of the National Final will be the ones representing their university in the International Final.</p>

<p>Participants from different national and regional finals from all over Europe (where there is a Local BEST Group) will participate in the International Final. This year, the final will be held in Zagreb (Croatia).</p>
