<% set_title :companies %>
<% set_header :companies %>


<h3><span class="faq"></span>&nbsp;HENKEL</h3>

<p>Henkel Innovation Challenge is a national and international business game which has been organized 5 years in a row. This year, in its fifth round, 22 countries will participate.</p>

<p>The game consists in building up a tandem of 2 students and assuming the role of business development managers of Henkel to create a product in 2030. The winning team of the international final will be awarded with a ticket around the world and will be invited to the Henkel headquarters in Düsseldorf, Germany where they will have the unique chance to meet Kasper Rorsted, CEO of the company.</p>

<p>The business game focuses in both innovation and creativity. Participants will have to choose one Henkel brand from our 3 business units (Adhesives Technologies,  Cosmetics & Toiletries or Laundry & Home Care) and come up with a new product for it or invent a new Henkel application technology for the Adhesives Technology business. Always placing the product in 2030.</p>

<p>During BEST Week Engineering Competition 2011 one first round of Henkel Innovation Challenge will be developed. During the day of the competition the participants will have to solve the business game and present it before a jury at the end of the day. Later, participants of WEC and everyone interested in the activity will have time to send their ideas until 12th December 2011 to participate in the national round of the competition.</p>

<p>During the preparation phase of the national finals, the best tandems of every country will be supported by mentors. The mentors will be members of the Henkel management. </p>

<br>

<h3><span class="faq"></span>&nbsp;GROUP DANONE</h3> 
<p><b><i>A global company, leader in food-products and drinks</b></i></p>

<p><b>Our mission: bringing health through the nutrition of as many people as possible.</b></p>

<p>Groupe Danone claims world leadership in its four business (fresh dairy products, bottled water, children’s nutrition and advanced medical nutrition) thanks to the quality of its variety of products, its modern factories and its advertisements. But, above all, it is thanks to its human team which works day by day to improve the health of 300 million of consumers around the world.</p>

<p>Present in more than 120 countries, the 80000 workers base our work on quality, research and innovation and, of course, on keeping our concerns for the environment and our involvement in many social actions, which converts us in a company created by and for people.</p>

<br>

<h3><span class="faq"></span>&nbsp;ACCENTURE</h3> 
<p><b><i>A Accenture centure bets on youth. We bet on you.</b></i></p>

<p>Accenture is a global management consulting, technology services and outsourcing company with aproximately 204.000 people working in more than 120 countries. Combining unparalleled experience, comprehensive capabilities across all industries and business funcitons, and extensive research on the world’s most successful companies, Accenture collaborates with clients to help them become high-performance businesses and governments.</p>

<p>In Accenture we bet for young people and we offer them indefinite contracts since the first day. Whether you have recently graduated, you are a current undergraduate exploting career options, or you are looking for interships and placements wile you are still studying, you have come to the right place. Accenture can offer you the opportunity to experience one of the world’s leading management consulting, technology services and outsourcing companies. Moreover, you will be part of one of the best companies where to work according to Actualidad Económica, Merco Personas, CRF o Fortune.</p>

<br>

<h3><span class="faq"></span>&nbsp;AGBAR</h3>

<p>Agbar is a holding formed by 168 companies and 140 years of history which operates in fields related to community services, mainly in the integrated water cycle. Our mission is to manage water efficiently in order to improve the quality of life of people in balance with the environment.</p>

<p>The international expansion, with presence in Chile, United Kingdom, China, Colombia, Algeria, Cuba and Mexico, consolidates the leadership and the potential growing of the company. With a workforce of 20.360 employees, Agbar has fixed both a growth and a value creation index which allow the company to go on day by day.</p>

<p>Agbar brings as business philosophy a bet for the constant improvement of its processes, the excellence in quality, the commitment to technological innovation, the ability to adapt to new demands from our society and a solid and effective financial management.</p>

<p>In the field of Training and Development, our mission is to transfer our knowledge and values inside the organisation, contributing to develop people’s talent through the constant improvement of their competences and abilities, with the aim of facing the strategic objectives of Agbar being able of succeeding in the end.</p>

<br>

<h3><span class="faq"></span>&nbsp;everis</h3>

<p><b>everis</b> is a multi-national consulting company offering business development and strategy, technological applications maintenance and outsourcing solutions. Our consulting firm works in the banking, energy and utilities, financial, industrial, insurance, media, public administration, healthcare and telecommunications sectors. Currently, everis has operations in several European and Latin American countries, United States and a professional staff of more than 9,000 consultants.</p>

<p><b>The everis Business Areas</b></p>
<p><b>everis business consulting</b> executes corporate strategy, business consulting and process engineering projects. Its activity is focused on sectorial knowledge, service innovation and specialization.</p>
<p><b>everis solutions</b> is dedicated to the definition, design and implementation of technological solutions and outsourcing management and operations (applications, infrastructure and processes). In order to accomplish this, methodologies are applied that assure quality, the transfer of production to high performance centers, and functional and technological specialization.</p>
<p><b>everis centers</b> operations are based on the use of high performance centers. This business line has been in operation for more than four years and has both the structure and capabilities necessary for executing tasks in an industrialized manner that is designed to achieve a high level of both efficiency and productivity. Currently, everis has high performance centers in Sevilla, Murcia, Alicante, Temuco, San Miguel de Tucumán and Uberlandia.</p> 
<p><b>everis bpo</b> focuses its attention on the rendering of outsourced business process services using service level agreements. This allows our clients to take advantage of a greater degree of internal capability along with increased control over service quality and related costs.</p>
<p><b>everis initiatives</b> is focused on various market realities in order to channel and launch new businesses in which it can invest along with its clients.</p>
<p><b>everis</b> began operations in Madrid in 1996. Currently, everis stakeholders include the 3i investment fund, the Landon Group, Hutton Collins, the British investment fund, and a group of minority shareholders.</p>
<p>Total <b>everis</b> invoicing reached € 506 million during the 2010 fiscal year.</p>
<p>The differential value <b>everis</b> offers in the marketplace is our ability to obtain results, satisfy our clients, and our proven ability to identifying business benefits.</p>

<br>

<h3><span class="faq"></span>&nbsp;TMB</h3>

<p>Transports Metropolitans de Barcelona is the management unit of the companies Ferrocarril Metropolità de Barcelona, SA, and Transports de Barcelona, SA, which belong to Àrea Metropolitana de Barcelona (AMB).</p>

<p>TMB moves every day for you, to take you wherever you want to go in Barcelona and to further ten towns in the metropolitan area.</p>
 
<p>As the main public transport operator in Barcelona, and part of the daily routine of thousands of citizens, we provide two transport networks (bus—surface transport—and metro—underground—) and several leisure transport services in order to:</p>
<ul>
<li>Meet your mobility needs and make your journeys to work, shopping, a friend's house... faster and more comfortable</li>
<li>Offer a public service that is accessible to all.</li>
<li>Improve quality of life in the Barcelona metropolitan area, shortening distances between towns and help you and yours to save time.</li>
</ul>

<p>Come and get to know us!</p>
