<% set_title :competitions %>
<% set_header :competitions %>

<p>La Week Engineering Competition és una competició d’enginyeria organitzada per la Universitat Politècnica de Catalunya, on els estudiants utilitzen els seus coneixements i habilitats personals per resoldre, en grups, un problema presentat per una empresa. La competició es divideix en 3 fases: la Fase Local, la Final Nacional i la Final Internacional.</p>

<p>La Fase Local forma part de la WEC. La competició es divideix en 2 categories: Case Study i Team Design. El Team Design serà l’ultim dia, i els guanyadors aniran directament a la Final Nacional. En el cas del Case Study, aquests estaran distribuïts durant tota la setmana. Els guanyadors de cada Case Study de les diferents empreses competiran l’últim dia per una plaça a la Final Nacional.</p>

<p>La Final Nacional consisteix en una competició entre els equips guanyadors de cada una de les fases locals disputades (Universitat Politècnica de Catalunya, Universidad Politecnica de Madrid, Universidad Carlos III de Madrid, Universidad de Valladolid i Universidad de Las Palmas de Gran Canaria), on també competeixen en les dues categories. Els guanyadors de la Final Nacional seran els encarregats de representar a la seva universitat a la Final Internacional.</p>

<p>Els guanyadors de les diferents fases nacionals i regionals de tota Europa, on està present BEST, participaran en la Final Internacional. Aquest any, aquesta final tindrà lloc a la ciutat de Zagreb (Croàcia).</p>
