<% set_title :companies %>
<% set_header :companies %>


<h3><span class="faq"></span>&nbsp;HENKEL</h3>

<p>El Henkel Innovation Challenge és un business game nacional i internacional que porta celebrant-se 5 anys consecutius. Aquest any, en la seva cinquena edició, participaran 22 països.</p>

<p>El game consisteix en assumir el repte de crear un grup de 2 estudiants i actuar com a directors de desenvolupament de negoci d'un producte existent de  Henkel per l'any 2030.  Els guanyadors de la final internacional gaudiran d'una volta al món i coneixeran personalment al CEO a les oficines centrals de Dusseldorf, Alemanya.</p>

<p>El business game es centra en la innovació i la creativitat. Es centra en les tres línies de negoci de Henkel: Cosmètica/ Cura personal ; Detergents/ Cura de la Llar i Adhesius. Els membres del grup han de presentar una idea innovadora sobre com Henkel pot satisfer les necessitats de la gent al 2030 en temes de cura personal, llar i adhesius.</p>

<p>Durant la BEST Week Engineering Competition 2011 es desenvoluparà  una primera fase d'aquest Henkel Innovation Challenge on durant el dia de la competició els participants hauran de resoldre el business game i presentar-lo a un jurat al final de la jornada. Més tard els participants de la WEC i tothom que hi estigui interessat tindrà  temps per enviar les seves idees fins al 12 de desembre de 2011 per participar en la ronda nacional de la competició.</p>

<p>En les següents fases un grup format per alts directius de Henkel donaran suport i assistència als grups com a mentors, tant a les fases preparatòries per la final nacional com per la final internacional que aquest any es celebrarà  a Berlín, Alemanya.</p>

<br>

<h3><span class="faq"></span>&nbsp;GRUP DANONE</h3> 
<p><b><i>Una companyia global, líder en alimentació i begudes</b></i></p>

<p><b>La nostra missió: proporcionar salut a través de la nutrició al major nombre de persones possibles.</b></p>

<p>Grup Danone és líder als quatre negocis en els quals opera (productes làctics, frescos, aigua envasada, alimentació infantil i nutrició mèdica), gràcies a la qualitat de la seva oferta variada, a les seves fàbriques modernes i als seus anuncis. Però per sobre tot, gràcies al seu equip humà, que treballa dia a dia per a millorar la salut de 300 milions de consumidors arreu del món.</p>

<p>Amb una presència geogràfica a més de 120 països, els 80000 treballadors basem la nostra feina en la qualitat, investigació i la innovació, i, per suposat, mantenint la nostra preocupació pel Medi Ambient i la implicació a les nombroses accions socials, el que ens converteix en una companyia creada per i per a les persones.</p>

<br>

<h3><span class="faq"></span>&nbsp;ACCENTURE</h3> 
<p><b><i>A Accenture apostem per la joventut. Apostem per tu.</b></i></p>

<p>Accenture és una companyia global de consultoria de gestió, serveis tecnològics i outsourcing, amb aproximadament 204.000 persones treballant a més de 120 països. Combinant la seva àmplia experiència, les seves capacitats en tots els sectors i àrees de negoci i la seva extensa investigació, Accenture col·labora amb els seus clients per ajudar-los a convertir les seves organitzacions de negocis i administracions públiques d'alt rendiment.</p>

<p>A Accenture apostem pels joves oferint contracte indefinit des del primer dia. Oferim un ràpid creixement professional, un programa de formació únic, una retribució competitiva i un ampli paquet de beneficis socials en un entorn laboral de col·laboració i amb mesures de flexibilitat i conciliació úniques. A més, formaràs part d'una de les millors empreses per treballar segons Actualitat Econòmica, Merco Persones, CRF o Fortune.</p>

<br>

<h3><span class="faq"></span>&nbsp;AGBAR</h3>

<p>AGBAR és un holding constituït per 168 empreses i 140 anys d’història que opera a àmbits relacionats amb els serveis a la col·lectivitat, principalment en el cicle integral de l’aigua. La nostra missió és la gestió de serveis que contribueixin a la qualitat de la vida de les persones.</p>

<p>L’expansió en l’àmbit internacional, amb presència a Xile, Regne Unit, Xina, Colòmbia, Argèlia, Cuba i Mèxic, consolida el lideratge i el potencial de creixement. Amb una plantilla de 20.360 empleats, Agbar s’ha fixat uns índexs de creixement i de creació de valor continuats que li permeten avançar dia a dia.</p>

<p>Agbar aporta com a filosofia empresarial una decidida aposta per la millora contínua en els seus processos, l'excel·lència en la qualitat, l’aposta per la innovació tecnològica, la capacitat d’adaptació de les noves exigències de la societat i una gestió financera sòlida i eficaç.</p>

<p>En l’àmbit de la Formació i el Desenvolupament, la missió és facilitar la transmissió de coneixements i valors clau dins de l’organització, contribuint a desenvolupar el talent de les persones mitjançant la millora contínua de les seves competències i capacitats, amb la finalitat d’afrontar amb garanties d’èxit els objectius estratègics d’Agbar.</p>
