<% set_title :companies %>
<% set_header :companies %>

<h3><span class="faq"></span>&nbsp;HENKEL</h3>

<p>El Henkel Innovation Challenge es un business game nacional y internacional que lleva celebrándose 5 años consecutivos. Este año, en su quinta edición, participarán 22 países.</p>

<p>El game consiste en asumir el reto de crear un grupo de 2 estudiantes y actuar como directores de desarrollo de negocio de un producto Henkel para el año 2030. Los ganadores de la final internacional tendrán la oportunidad de dar una vuelta al mundo y conocerán personalmente al CEO en las oficinas centrales de Dusseldorf, Alemania.</p>

<p>El business game se centra en la innovación y la creatividad. Se centra en dos líneas de negocio de Henkel: Cosmética/Cuidado personal, Detergentes/Cuidado del Hogar y Adhesivos. Los miembros del grupo han de presentar una idea innovadora sobre cómo Henkel puede satisfacer las necesidades de la gente en el 2030 en temas de cuidado personal, del hogar y adhesivos.</p>

<p>Durante la BEST Week Engineering Competition 2011 se desarrollará una primera fase de este Henkel Innovation Challenge donde durante el día de la competición los participantes tendrán que resolver el business game y presentarlo a un jurado al final de la jornada. Más tarde, los participantes de la WEC y todo aquel que esté interesado tendrán tiempo para enviar sus ideas hasta el 12 de diciembre de 2011 para participar en la ronda nacional de la competición.</p>

<p>En las siguientes fases, un grupo formado por altos directivos de Henkel ofrecerán apoyo y asistencia a los grupos como mentores, tanto en las fases preparatorias para la final nacional como para la final internacional que este año se celebrará en Berlín, Alemania.</p>


<br>

<h3><span class="faq"></span>&nbsp;GRUPO DANONE</h3> 
<p><b><i>Una compañía global, líder en alimentación y bebidas</b></i></p>

<p><b>Nuestra misión: aportar salud a través de la nutrición al mayor número de personas posible.</b></p>

<p>Grupo Danone es líder en los cuatro negocios en los que opera (productos lácteos frescos, agua embotellada, alimentación infantil y nutrición médica), gracias a la calidad de su variada oferta, a sus modernas fábricas y a sus anuncios. Pero, sobre todo, gracias al equipo humano, que trabaja día a día para mejorar la salud de 300 millones de consumidores en todo el mundo.</p>

<p>Con una presencia geográfica de más de 120 países, los 80.000 trabajadores basamos nuestro trabajo en la calidad, la investigación y la innovación, y por supuesto, manteniendo nuestra preocupación por el Medio Ambiente y la implicación en numerosas acciones sociales, lo que nos convierte en una compañía creada por y para las personas.</p>

<br>

<h3><span class="faq"></span>&nbsp;ACCENTURE</h3> 
<p><b><i>En Accenture apostamos por la juventud. Apostamos por ti.</b></i></p>

<p>Accenture es una compañía global de consultoría de gestión, servicios tecnológicos y outsourcing, con aproximadamente 204.000 personas trabajando en más de 120 países. Combinando su amplia experiencia, sus capacidades en todos los sectores y áreas de negocio y su extensa investigación, Accenture colabora con sus clientes para ayudarles a convertir sus organizaciones en negocios y administraciones públicas de alto rendimiento.</p>

<p>En Accenture apostamos por los jóvenes ofreciéndoles contrato indefinido desde el primer día. Ofrecemos un rápido crecimiento profesional, un programa de formación único, una retribución competitiva y un amplio paquete de beneficios sociales en un entorno laboral de colaboración y con medidas de flexibilidad y conciliación únicas. Además, formarás parte de una de las mejores empresas para trabajar según Actualidad Económica, Merco Personas, CRF o Fortune.</p>

<br>

<h3><span class="faq"></span>&nbsp;AGBAR</h3>

<p>Agbar es un holding constituido por 168 empresas y 140 años de historia que opera en ámbitos relacionados con los servicios a la colectividad, principalmente en el ciclo integral del agua. Nuestra misión es la gestión de servicios que contribuyan a la calidad de vida de las personas.</p>

<p>La expansión en el ámbito internacional, con presencia en Chile, Reino Unido, China, Colombia, Argelia, Cuba y Méjico, consolida el liderazgo y el potencial de crecimiento. Con una plantilla de 20.360 empleados, Agbar se ha fijado unos índices de crecimiento y de creación de valor continuados que le permiten avanzar día a día.</p>

<p>Agbar aporta como filosofía empresarial una decidida apuesta por la mejora continua en sus procesos, la excelencia en la calidad, la apuesta por la innovación tecnológica, la capacidad de adaptación a las nuevas exigencias de la sociedad a la que sirve y una gestión financiera sólida y eficaz.</p>

<p>En el ámbito de la Formación y el Desarrollo, la misión es facilitar la transmisión de conocimientos y valores claves dentro de la organización, contribuyendo a desarrollar el talento de las personas mediante la mejora continua de sus competencias y capacidades, con el fin de afrontar con garantías de éxito los objetivos estratégicos de Agbar.</p>

<br>

<h3><span class="faq"></span>&nbsp;everis</h3>

<p><b>everis</b> es una consultora multinacional que ofrece soluciones de negocio, estrategia y desarrollo, mantenimiento de aplicaciones tecnológicas y outsourcing. La consultora cubre los sectores de telecomunicaciones, entidades financieras, industria, utilities & energía, banca, seguros, Administraciones Públicas, media y sanidad. En la actualidad everis opera en varios países de Europa, Estados Unidos y Latinoamérica y cuenta con más de 9.000 profesionales.</p>

<p><b>Líneas de negocio de everis</b></p>
<p><b>everis business consulting</b> realiza proyectos de estrategia corporativa, consultoría de negocio e ingeniería de procesos. Su actividad se centra en el conocimiento sectorial, en la innovación de servicios y en la especialización.</p>
<p><b>everis solutions</b> está dedicada a la definición, diseño e implantación de soluciones tecnológicas y a la gestión y operación deoutsourcing (aplicaciones, infraestructuras y procesos). Para ello, se potencia el uso de metodologías que aseguren la calidad, traspaso de producción a los centros de alto rendimiento y especialización funcional y tecnológica.</p>
<p><b>everis centers</b> se basa en la utilización de centros de alto rendimiento. Esta línea de negocio lleva funcionando más de cuatro años y cuenta con la estructura y las capacidades para realizar actividades de forma industrializada, con un elevado nivel de productividad y eficiencia. En la actualidad hay centros de alto rendimiento en Sevilla, Murcia, Alicante, Temuco, San Miguel de Tucumán y Uberlandia.</p> 
<p><b>everis bpo</b> fse focaliza en la prestación de servicios de externalización de procesos de negocio bajo acuerdos de nivel de servicio, permitiendo a nuestros clientes disponer de mayor capacidad interna para orientarse a funciones de más valor para su negocio e incrementar el control de la calidad del servicio y de sus costes asociados.</p>
<p><b>everis initiatives</b> está atenta a las diferentes realidades del mercado para canalizar y lanzar nuevos negocios en los que puede invertir con sus clientes.</p>
<p><b>everis</b>, que inició su andadura en Madrid en 1996, tiene como socios inversores al fondo de inversión 3i, al grupo Landon y el fondo de inversión británico Hutton Collins, además de un grupo minoritario de pequeños accionistas.</p>
<p>La facturación de <b>everis</b> para el año fiscal 2010 ha sido de 506 millones de euros.</p>
<p>Hoy podemos afirmar que el valor diferencial de <b>everis</b> en el mercado es la obtención de resultados, la satisfacción de nuestros clientes y nuestra probada experiencia en la identificación de los beneficios de negocio.</p>


<br>

<h3><span class="faq"></span>&nbsp;Ro-botica</h3>
<p>La robótica pronto será cotidiana en nuestros hogares. Los cambios que han introducido en nuestras vidas el PC o el móvil son nimios ante la revolución que nos depara la llegada de la robótica personal y de servicios: los robots nos harán compañía, cuidarán de nosotros y nos facilitarán nuestra vida cotidiana, suplantándonos en aquellas tareas más peligrosas, delicadas, precisas, tediosas o repetitivas. La robótica didáctica y educativa es el primer paso de esta revolución que está empezando: es la nueva herramienta integral de aprendizaje.</p>

<p>Desde RO-BOTICA queremos promover las vocaciones tecnológicas, ya que creemos que en ellas se basa el futuro de nuestro país. Asimismo, queremos acercar la robótica a la educación, al ocio y a los hogares.</p>

<p>RO-BOTICA inicia su actividad en 2007 a través de la tienda en línea www.ro-botica.com, la primera del Estado especializada en robótica educativa y personal. En 2008 abre en Barcelona la primera tienda presencial de Europa dedicada íntegramente a la robótica educativa y personal.</p>

<p>Actualmente RO-BOTICA es distribuidora oficial o exclusiva de las más avanzadas plataformas robóticas escalables y flexibles, de soluciones educativas y de los más significativos robots del mundo.</p>

<br>

<h3><span class="faq"></span>&nbsp;TMB</h3>

<p>Transports Metropolitans de Barcelona es la denominación común de las empresas Ferrocarril Metropolità de Barcelona, S. A., y Transports de Barcelona, S. A., pertenecientes a la Àrea Metropolitana de Barcelona (AMB).</p>

<p>En TMB nos movemos cada día por ti, para acompañarte hasta donde quieras llegar dentro de la ciudad de Barcelona y en diez municipios más del área metropolitana.</p>
 
<p>Como principal operador de transporte público de Barcelona, y como parte del día a día de miles de ciudadanos, te ofrecemos dos redes regulares de transporte (la de bus —de superficie— y la de metro —subterránea—) y varios servicios de transporte de ocio para:</p>
<ul>
<li>Satisfacer tus necesidades de movilidad y hacer más cómodos y rápidos tus desplazamientos al trabajo, de compras, a casa de tus amigos...</li>
<li>Ofrecer un servicio público accesible para todo el mundo.</li>
<li>Mejorar la calidad de vida en el área metropolitana de Barcelona, recortando las distancias entre las distintas ciudades y ayudándote a ganar tiempo para ti y los tuyos.</li>
</ul>

<p>¡Te invitamos a conocer mejor nuestra compañía!</p>
