<% set_title :companies %>
<% set_header :companies %>

<h3><span class="faq"></span>&nbsp;HENKEL</h3>

<p>El Henkel Innovation Challenge es un business game nacional y internacional que lleva celebrándose 5 años consecutivos. Este año, en su quinta edición, participarán 22 países.</p>

<p>El game consiste en asumir el reto de crear un grupo de 2 estudiantes y actuar como directores de desarrollo de negocio de un producto Henkel para el año 2030. Los ganadores de la final internacional tendrán la oportunidad de dar una vuelta al mundo y conocerán personalmente al CEO en las oficinas centrales de Dusseldorf, Alemania.</p>

<p>El business game se centra en la innovación y la creatividad. Se centra en dos líneas de negocio de Henkel: Cosmética/Cuidado personal, Detergentes/Cuidado del Hogar y Adhesivos. Los miembros del grupo han de presentar una idea innovadora sobre cómo Henkel puede satisfacer las necesidades de la gente en el 2030 en temas de cuidado personal, del hogar y adhesivos.</p>

<p>Durante la BEST Week Engineering Competition 2011 se desarrollará una primera fase de este Henkel Innovation Challenge donde durante el día de la competición los participantes tendrán que resolver el business game y presentarlo a un jurado al final de la jornada. Más tarde, los participantes de la WEC y todo aquel que esté interesado tendrán tiempo para enviar sus ideas hasta el 12 de diciembre de 2011 para participar en la ronda nacional de la competición.</p>

<p>En las siguientes fases, un grupo formado por altos directivos de Henkel ofrecerán apoyo y asistencia a los grupos como mentores, tanto en las fases preparatorias para la final nacional como para la final internacional que este año se celebrará en Berlín, Alemania.</p>


<br>

<h3><span class="faq"></span>&nbsp;GRUPO DANONE</h3> 
<p><b><i>Una compañía global, líder en alimentación y bebidas</b></i></p>

<p><b>Nuestra misión: aportar salud a través de la nutrición al mayor número de personas posible.</b></p>

<p>Grupo Danone es líder en los cuatro negocios en los que opera (productos lácteos frescos, agua embotellada, alimentación infantil y nutrición médica), gracias a la calidad de su variada oferta, a sus modernas fábricas y a sus anuncios. Pero, sobre todo, gracias al equipo humano, que trabaja día a día para mejorar la salud de 300 millones de consumidores en todo el mundo.</p>

<p>Con una presencia geográfica de más de 120 países, los 80.000 trabajadores basamos nuestro trabajo en la calidad, la investigación y la innovación, y por supuesto, manteniendo nuestra preocupación por el Medio Ambiente y la implicación en numerosas acciones sociales, lo que nos convierte en una compañía creada por y para las personas.</p>

<br>

<h3><span class="faq"></span>&nbsp;ACCENTURE</h3> 
<p><b><i>En Accenture apostamos por la juventud. Apostamos por ti.</b></i></p>

<p>Accenture es una compañía global de consultoría de gestión, servicios tecnológicos y outsourcing, con aproximadamente 204.000 personas trabajando en más de 120 países. Combinando su amplia experiencia, sus capacidades en todos los sectores y áreas de negocio y su extensa investigación, Accenture colabora con sus clientes para ayudarles a convertir sus organizaciones en negocios y administraciones públicas de alto rendimiento.</p>

<p>En Accenture apostamos por los jóvenes ofreciéndoles contrato indefinido desde el primer día. Ofrecemos un rápido crecimiento profesional, un programa de formación único, una retribución competitiva y un amplio paquete de beneficios sociales en un entorno laboral de colaboración y con medidas de flexibilidad y conciliación únicas. Además, formarás parte de una de las mejores empresas para trabajar según Actualidad Económica, Merco Personas, CRF o Fortune.</p>

<br>

<h3><span class="faq"></span>&nbsp;AGBAR</h3>

<p>Agbar es un holding constituido por 168 empresas y 140 años de historia que opera en ámbitos relacionados con los servicios a la colectividad, principalmente en el ciclo integral del agua. Nuestra misión es la gestión de servicios que contribuyan a la calidad de vida de las personas.</p>

<p>La expansión en el ámbito internacional, con presencia en Chile, Reino Unido, China, Colombia, Argelia, Cuba y Méjico, consolida el liderazgo y el potencial de crecimiento. Con una plantilla de 20.360 empleados, Agbar se ha fijado unos índices de crecimiento y de creación de valor continuados que le permiten avanzar día a día.</p>

<p>Agbar aporta como filosofía empresarial una decidida apuesta por la mejora continua en sus procesos, la excelencia en la calidad, la apuesta por la innovación tecnológica, la capacidad de adaptación a las nuevas exigencias de la sociedad a la que sirve y una gestión financiera sólida y eficaz.</p>

<p>En el ámbito de la Formación y el Desarrollo, la misión es facilitar la transmisión de conocimientos y valores claves dentro de la organización, contribuyendo a desarrollar el talento de las personas mediante la mejora continua de sus competencias y capacidades, con el fin de afrontar con garantías de éxito los objetivos estratégicos de Agbar.</p>
