<% set_title :companies %>
<% set_header :companies %>


<h3><span class="faq"></span>&nbsp;HENKEL</h3>

<p>El Henkel Innovation Challenge és un business game nacional i internacional que porta celebrant-se 5 anys consecutius. Aquest any, en la seva cinquena edició, participaran 22 països.</p>

<p>El game consisteix en assumir el repte de crear un grup de 2 estudiants i actuar com a directors de desenvolupament de negoci d'un producte existent de  Henkel per l'any 2030.  Els guanyadors de la final internacional gaudiran d'una volta al món i coneixeran personalment al CEO a les oficines centrals de Dusseldorf, Alemanya.</p>

<p>El business game es centra en la innovació i la creativitat. Es centra en les tres línies de negoci de Henkel: Cosmètica/ Cura personal ; Detergents/ Cura de la Llar i Adhesius. Els membres del grup han de presentar una idea innovadora sobre com Henkel pot satisfer les necessitats de la gent al 2030 en temes de cura personal, llar i adhesius.</p>

<p>Durant la BEST Week Engineering Competition 2011 es desenvoluparà  una primera fase d'aquest Henkel Innovation Challenge on durant el dia de la competició els participants hauran de resoldre el business game i presentar-lo a un jurat al final de la jornada. Més tard els participants de la WEC i tothom que hi estigui interessat tindrà  temps per enviar les seves idees fins al 12 de desembre de 2011 per participar en la ronda nacional de la competició.</p>

<p>En les següents fases un grup format per alts directius de Henkel donaran suport i assistència als grups com a mentors, tant a les fases preparatòries per la final nacional com per la final internacional que aquest any es celebrarà  a Berlín, Alemanya.</p>

<br>

<h3><span class="faq"></span>&nbsp;GRUP DANONE</h3> 
<p><b><i>Una companyia global, líder en alimentació i begudes</b></i></p>

<p><b>La nostra missió: proporcionar salut a través de la nutrició al major nombre de persones possibles.</b></p>

<p>Grup Danone és líder als quatre negocis en els quals opera (productes làctics, frescos, aigua envasada, alimentació infantil i nutrició mèdica), gràcies a la qualitat de la seva oferta variada, a les seves fàbriques modernes i als seus anuncis. Però per sobre tot, gràcies al seu equip humà, que treballa dia a dia per a millorar la salut de 300 milions de consumidors arreu del món.</p>

<p>Amb una presència geogràfica a més de 120 països, els 80000 treballadors basem la nostra feina en la qualitat, investigació i la innovació, i, per suposat, mantenint la nostra preocupació pel Medi Ambient i la implicació a les nombroses accions socials, el que ens converteix en una companyia creada per i per a les persones.</p>

<br>

<h3><span class="faq"></span>&nbsp;ACCENTURE</h3> 
<p><b><i>A Accenture apostem per la joventut. Apostem per tu.</b></i></p>

<p>Accenture és una companyia global de consultoria de gestió, serveis tecnològics i outsourcing, amb aproximadament 204.000 persones treballant a més de 120 països. Combinant la seva àmplia experiència, les seves capacitats en tots els sectors i àrees de negoci i la seva extensa investigació, Accenture col·labora amb els seus clients per ajudar-los a convertir les seves organitzacions de negocis i administracions públiques d'alt rendiment.</p>

<p>A Accenture apostem pels joves oferint contracte indefinit des del primer dia. Oferim un ràpid creixement professional, un programa de formació únic, una retribució competitiva i un ampli paquet de beneficis socials en un entorn laboral de col·laboració i amb mesures de flexibilitat i conciliació úniques. A més, formaràs part d'una de les millors empreses per treballar segons Actualitat Econòmica, Merco Persones, CRF o Fortune.</p>

<br>

<h3><span class="faq"></span>&nbsp;AGBAR</h3>

<p>AGBAR és un holding constituït per 168 empreses i 140 anys d’història que opera a àmbits relacionats amb els serveis a la col·lectivitat, principalment en el cicle integral de l’aigua. La nostra missió és la gestió de serveis que contribueixin a la qualitat de la vida de les persones.</p>

<p>L’expansió en l’àmbit internacional, amb presència a Xile, Regne Unit, Xina, Colòmbia, Argèlia, Cuba i Mèxic, consolida el lideratge i el potencial de creixement. Amb una plantilla de 20.360 empleats, Agbar s’ha fixat uns índexs de creixement i de creació de valor continuats que li permeten avançar dia a dia.</p>

<p>Agbar aporta com a filosofia empresarial una decidida aposta per la millora contínua en els seus processos, l'excel·lència en la qualitat, l’aposta per la innovació tecnològica, la capacitat d’adaptació de les noves exigències de la societat i una gestió financera sòlida i eficaç.</p>

<p>En l’àmbit de la Formació i el Desenvolupament, la missió és facilitar la transmissió de coneixements i valors clau dins de l’organització, contribuint a desenvolupar el talent de les persones mitjançant la millora contínua de les seves competències i capacitats, amb la finalitat d’afrontar amb garanties d’èxit els objectius estratègics d’Agbar.</p>

<br>

<h3><span class="faq"></span>&nbsp;everis</h3>

<p><b>everis</b> és una consultora multinacional que ofereix solucions de negoci, estratègia i desenvolupament, manteniment d’aplicacions tecnològiques i outsourcing. La consultora cobreix els sectors de telecomunicacions, entitats financeres, indústria, serveis de computació i energia, banca, assegurances, administracions públiques, mitjans i sanitat. Actualment,everis opera en diversos països d’Europa, Estats Units i Amèrica Llatina i compta amb més de 9.000 professionals.</p>

<p><b>Línies de negoci d’everis</b></p>
<p><b>everis business consulting</b> realitza projectes d’estratègia corporativa, consultoria de negoci i enginyeria de processos. La seva activitat se centra en el coneixement sectorial, en la innovació de serveis i en l’especialització.</p>

<p><b>everis solutions</b> està dedicada a la definició, disseny i implantació de solucions tecnològiques i a la gestió i operació d´outsourcing (aplicacions, infraestructures i processos). Per això, es potencia l’ús de metodologies que asseguren la qualitat, el traspàs de producció als centres d’alt rendiment i l’especialització funcional i tecnològica.</p>

<p><b>everis centers</b> es basa en la utilització de centres d’alt rendiment. Aquesta línia de negoci porta funcionant més de cuatro anys i compta amb l’estructura i les capacitats per realitzar activitats de forma industrialitzada amb un elevat nivell de productivitat i eficiència. Actualment, hi ha centres d’alt rendiment a Sevilla, Múrcia, Alacant, Temuco, San Miguel de Tucumán i Uberlandia.</p>
 
<p><b>everis bpo</b> es focalitza en la prestació de serveis d’externalització de processos de negoci sota acords de nivell de servei, i permet als nostres clients disposar de més capacitat interna per orientar-se a funcions de més valor per al seu negoci i incrementar el control de la qualitat del servei i dels seus costos associats.</p>

<p><b>everis initiatives</b> està atenta a les diferents realitats del mercat per canalitzar i llançar nous negocis en els quals pot invertir amb els seus clients.</p>

<p><b>everis</b> que va iniciar el seu camí a Madrid el 1996, actualment té com a socis inversors el fons d’inversió 3i, el grup Landon i el fons d’inversió britànic Hutton Collins, a més d’un grup minoritari de petits accionistes.</p>

<p>La facturació d’<b>everis</b> per a l’any fiscal 2010 ha estat de 506 milions d’euros.</p>

<p>Avui podem afirmar que el valor diferencial d’<b>everis</b> en el mercat és l’obtenció de resultats, la satisfacció dels nostres clients i la nostra provada experiència en la identificació dels beneficis de negoci.</p>
