<% set_title :competitions %>
<% set_header :competitions %>

<p>La Week Engineering Competition es una competición de ingeniería organizada por la Universitat Politècnica de Catalunya, donde los estudiantes usan sus conocimientos y habilidades personales para resolver, en grupos, un problema presentado por una empresa. La competición se divide en 3 fases: la Fase Local, la Final Nacional y la Final Internacional.</p>

<p>La Fase Local está enmarcada en la WEC. La competición se divide en 2 categorías: Case Study y Team Design. El Team Design será el último día, y los ganadores irán directamente a la Final Nacional. En el caso del Case Study, estos estarán distribuidos durante toda la semana. Los ganadores de cada Case Study de las diferentes empresas competirán el último día por una plaza en la Final Nacional. </p>

<p>La Final Nacional consiste en una competición entre los equipos ganadores de cada una de las fases locales disputadas (Universitat Politècnica de Catalunya, Universidad Politécnica de Madrid, Universidad Carlos III de Madrid, Universidad de Valladolid y Universidad de Las Palmas de Gran Canaria), donde también compiten en las dos categorías. Los ganadores de la Final Nacional serán los encargados de representar a su universidad en la Final Internacional.</p>

<p>En la Fase Internacional participarán los equipos ganadores de la diferentes fases nacionales y regionales de toda Europa donde está presente BEST. Este año, la Final Internacional tendrá lugar en la ciudad de Zagreb (Croacia).</p>
