<% set_title :contact %>
<% set_header :contact %>

<h3>Main Organizers</h3>
<p>iria.perez.rodriguez@best.eu.org</p>
<p>+34 687 31 68 89</p>
<br>
<p>anselmo.ruiz@best.eu.org</p>
<p>+34 685 86 28 78</p>

