<% set_title :faq %>
<% set_header :faq %>

<h3><span class="faq"></span>&nbsp;Could I get ALE credits if I participate?</h3>
<p>Students will be given a certificate just for participating. ALE credits will be recognized depending on the total number of hours you participate in BEST-WEC.<p/>

<h3><span class="faq"></span>&nbsp;Do I have to pay in order to participate?</h3>
<p>No, BEST-UPC covers the cost of the competition. It provides the material required and also the food if you participate in a round lasting all day.</p>

<h3><span class="faq"></span>&nbsp;Should I previously have attended a BEST course in order to participate?</h3>
<p>Not necessarily. WEC is open to all students, no matter if they have participated in a BEST course or event before or not.</p>

<h3><span class="faq"></span>&nbsp;How do you benefit by participating?</h3>
<p>You get experience as you have participated in a competition with remarkable companies, where your technical knowledge and personal skills are tested. 
All these features are required for your future working life as an engineer.</p>

<h3><span class="faq"></span>&nbsp;If I skip classes or laboratories because of the competition, could I be given an excuse note?</h3>
<p>There is no problem. If you miss lectures or any practical work at university, BEST will sign you a certifícate of attendance.</p>

<h3><span class="faq"></span>&nbsp;Will there be breaks or are there going to be 5 consecutive hours?</h3>
<p>Breaks will be taken every 2 hours, where coffee and other beverages will be served as well some snacks for every participant.</p>

<h3><span class="faq"></span>&nbsp;Can I take part in BEST Meeting Point if I have not participated in the competition?</h3>
<p>By all means! The entire university community is invited to participate in it.</p>

