<% set_title :faq %>
<% set_header :faq %>

<h3><span class="faq"></span>&nbsp;Podré reconèixer crèdits ALE per haver participat?</h3>
<p>Per participar a la WEC rebràs un diploma acreditatiu i se’t reconeixeran crèdits ALE en funció del nombre d’hores que hagis participat a la competició.<p/>

<h3><span class="faq"></span>&nbsp;He de pagar per participar?</h3>
<p>No, BEST-UPC s'encarrega dels costos de la competició, proporcionant el material i també els àpats en cas de participar en una ronda que duri tot el dia.</p>

<h3><span class="faq"></span>&nbsp;Necessito haver anat a un curs BEST prèviament per participar?</h3>
<p>No. La WEC està oberta a tots els estudiants, tant si prèviament han participat en un event com si no.</p>

<h3><span class="faq"></span>&nbsp;Què s'obté participant?</h3>
<p>Experiència en participar a una competició amb importants empreses, on s'evaluen els coneixements tècnics i les habilitats personals que et seran necessàries per la vida laboral com a enginyer.</p>

<h3><span class="faq"></span>&nbsp;Si he de faltar a classe o a laboratori, puc obtenir un justificant?</h3>
<p>Sí, per qualsevol classe que t'hagis perdut en participar a la WEC, BEST et farà un justificant per a què no tinguis cap problema.</p>

<h3><span class="faq"></span>&nbsp;Hi haurà descansos o seran 5 hores consecutives?</h3>
<p>Els descansos es faran cada dues hores, durant els quals es servirà cafè i altres begudes, així com també un petit aperitiu.</p>

<h3><span class="faq"></span>&nbsp;Puc assistir al BEST Jobfair si no he estat participant en la competicio?</h3>
<p>I tant! Tota la comunitat universitària està convidada a assistir-hi.</p>

