<% set_title :faq %>
<% set_header :faq %>

<h3><span class="faq"></span>&nbsp;¿Podré reconocer créditos ALE por haber participado?</h3>
<p>Por participar en la WEC recibirás un diploma acreditativo y se te reconocerán créditos ALE en función del número de horas que hayas participado en la competición.<p/>

<h3><span class="faq"></span>&nbsp;¿Hay que pagar por participar?</h3>
<p>No, BEST-UPC cubre los gastos de la competición, proporcionando el material y también la comida en caso de que se participe en una ronda que dure todo el día.</p>

<h3><span class="faq"></span>&nbsp;¿Debo haber hecho algún curso BEST previamente para poder participar?</h3>
<p>No, no es necesario. La WEC está abierta a cualquier estudiante de la UPC, haya participado o no con BEST en algún curso o evento pasado.</p>

<h3><span class="faq"></span>&nbsp;¿Qué se gana participando?</h3>
<p>Experiencia al haber participado en una competición con importantes empresas, donde se evalúan tus conocimientos técnicos y habilidades personales, todo ello muy necesario para tu vida laboral futura como ingeniero.</p>

<h3><span class="faq"></span>&nbsp;¿Si por participar en la competición no asisto a clases o laboratorio, podré tener un justificante?</h3>
<p>Sí, por cualquier clase que hayas perdido al haber participado en la WEC, BEST te hará un justificante para que no tengas ningún problema.</p>

<h3><span class="faq"></span>&nbsp;¿Habrá descansos o son 5 horas seguidas?</h3>
<p>Los descansos se cubrirán cada dos horas, donde se servirá café o té y un pequeño tentempié para cada participante.</p>

<h3><span class="faq"></span>&nbsp;¿Puedo participar en el BEST Jobfair si no he participado en la competición?</h3>
<p>¡Por supuesto! Toda la comunidad universitaria está invitada a venir.</p>

