<% set_title "Gallery" %>
<% set_header "Gallery" %>

<ul class="media-grid">
  <li>
    <a href="galleria/1.jpg" target="_blank">
      <img class="thumbnail" src="galleria/1.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/2.jpg" target="_blank">
      <img class="thumbnail" src="galleria/2.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/3.jpg" target="_blank">
      <img class="thumbnail" src="galleria/3.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/4.jpg" target="_blank">
      <img class="thumbnail" src="galleria/4.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/5.jpg" target="_blank">
      <img class="thumbnail" src="galleria/5.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/6.jpg" target="_blank">
      <img class="thumbnail" src="galleria/6.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/7.jpg" target="_blank">
      <img class="thumbnail" src="galleria/7.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/8.jpg" target="_blank">
      <img class="thumbnail" src="galleria/8.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/9.jpg" target="_blank">
      <img class="thumbnail" src="galleria/9.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/10.jpg" target="_blank">
      <img class="thumbnail" src="galleria/10.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/11.jpg" target="_blank">
      <img class="thumbnail" src="galleria/11.jpg" width="180" height="120">
    </a>
  </li>
  <li>
    <a href="galleria/12.jpg" target="_blank">
      <img class="thumbnail" src="galleria/12.jpg" width="180" height="120">
    </a>
  </li>
<li>
    <a href="galleria/13.jpg" target="_blank">
      <img class="thumbnail" src="galleria/13.jpg" width="180" height="120">
    </a>
  </li>
<li>
    <a href="galleria/14.jpg" target="_blank">
      <img class="thumbnail" src="galleria/14.jpg" width="180" height="120">
    </a>
  </li>
<li>
    <a href="galleria/15.jpg" target="_blank">
      <img class="thumbnail" src="galleria/15.jpg" width="180" height="120">
    </a>
  </li>
<li>
    <a href="galleria/16.jpg" target="_blank">
      <img class="thumbnail" src="galleria/16.jpg" width="180" height="120">
    </a>
  </li>
<li>
    <a href="galleria/17.jpg" target="_blank">
      <img class="thumbnail" src="galleria/17.jpg" width="180" height="120">
    </a>
  </li>
<li>
    <a href="galleria/18.jpg" target="_blank">
      <img class="thumbnail" src="galleria/18.jpg" width="180" height="120">
    </a>
  </li>
</ul>
