<% set_title :home %>
<% set_header :home_header %>

<p>La <b>BEST Week Engineering Competition</b> és una competició d’enginyeria a nivell local d’una setmana de duració. Els estudiants que hi participen treballen en equip fent ús dels seus coneixements tècnics, habilitats socials i de comunicació per tal de resoldre el problema presentat per l’empresa en un temps determinat.</p>

<p>La BEST-WEC tindrà lloc els dies 29, 30 de novembre i el 1, 2 i 3 de desembre del 2010 al <%= link_to "Campus Nord de la UPC", location_path %> i a la <a href="http://www.torreagbar.com/home.asp">Torre AGBAR</a> de Barcelona.</p>

<p>A continuació es detallen les categories de participació pels estudiants:</p>
<br/>

<span class="label warning">Case Study</span>
<br><br>

<p>En aquesta categoria es requereix que els participants trobin la solució a un problema plantejat per l’empresa participant similar al que pot trobar un enginyer durant la seva activitat professional. Després d’un temps determinat de treball en equip, les solucions obtingudes són evaluades per un jurat format per membres de la pròpia empresa, així com també per personal docent universitari.</p>
<br/>

<span class="label warning">Team Design</span>
<br><br>

<p>En aquesta categoria es busca posar a prova les habilitats pràctiques, la creativitat i l’enginy dels estudiants. L’empresa participant planteja un problema de manera que cada equip pensi, dissenyi i construeixi la solució que consideri més adient amb el material proporcionat dins el temps establert. Es requereix que el resultat sigui un dispositiu que compleixi els objectius marcats.</p>
<br/>

<span class="label warning">Workshop</span>
<br><br>

<p>Un Workshop sol consistir en petits case studies, simulacions de negoci, dinàmiques de grup o inclús cursos formatius. Hi ha un contacte molt proper entre l'empresa i els estudiants.</p>
<br/>

<span class="label success">¿Cómo puedo participar?</span>
<br><br>

<p>No deixis passar l’experiència de treballar amb grans empreses, 
<b>podràs aconseguir crèdits ALE i un iPod </b>com a prem!</p>
<p>Fes clic <%= link_to "aquí", participants_path %> per participar a la BEST-WEC. És la teva oportunitat!</p>
