<% set_title :home %>
<% set_header :home_header %>

<p>La <b>BEST Week Engineering Competition</b> es una competición de ingeniería a nivel local de una semana de duración. En ella los estudiantes trabajan en equipo usando sus conocimientos técnicos, habilidades sociales y comunicativas para resolver el problema presentado por la empresa en un tiempo determinado.</p>

<p>La BEST-WEC tendrá lugar los días 29 y 30 de noviembre y 1, 2 y 3 de diciembre del 2010 en el <%= link_to "Campus Nord de la UPC", location_path %> y en la <a href="http://www.torreagbar.com/home.asp">Torre AGBAR</a> de Barcelona.</p>

<p>A continuación se detallan las categorías de participación para estudiantes:</p>
<br/>

<span class="label warning">Case Study</span>
<br><br>

<p>En esta categoría se requiere que los participantes den solución a un problema planteado por la empresa participante similar al que puede enfrentarse un ingeniero durante su actividad profesional. Tras un tiempo determinado de trabajo en equipo, las soluciones obtenidas son evaluadas por un jurado compuesto por miembros de la propia empresa así como personal docente universitario.</p>
<br/>

<span class="label warning">Team Design</span>
<br><br>

<p>En esta categoría se busca poner a prueba las habilidades prácticas, creatividad e ingenio de los estudiantes. La empresa participante plantea un problema de manera que cada equipo piense, diseñe y construya la solución que considere más apropiada con el material proporcionado dentro del tiempo establecido. El resultado deberá ser un dispositivo que cumpla los objetivos marcados.</p>
<br/>

<span class="label warning">Workshop</span>
<br><br>

<p>Un Workshop suele consistir en pequeños case studies, simulaciones de negocio, dinámicas de grupo o incluso cursos formativos. Hay un contacto muy próximo entre la empresa y los estudiantes.</p>
<br/>

<span class="label success">¿Cómo puedo participar?</span>
<br><br>

<p>No dejes pasar la experiencia de trabajar con grandes empresas, 
<b>podrás conseguir créditos ALE y un iPod </b>como premio!</p>
<p>Clica <%= link_to "aquí", new_participants_path %> para participar en la BEST-WEC. ¡Es tu oportunidad!</p>
