<% set_title :home %>
<% set_header :home_header %>

<p><b>BEST Week Engineering Competition</b> is an one-week engineering competition at local level. 
Participants use their technical knowledge and communicative abilities to solve a problem set by a company within a limited time.</p>
<p>BEST-WEC will take place on 9th, 10th and 11th of April in <%= link_to "UPC Campus Nord", location_path %> and Barcelona's <a href="http://www.torreagbar.com/home.asp">AGBAR Tower</a>.</p>
<p>The categories in which students can participate are:</p>
<br/>

<span class="label warning">Case Study</span>
<br><br>

<p>In this category, participants are asked to find a solution to the problem set by the participating company. 
Cases presented are similar to those an engineer can face during his professional career. 
After some team-work time, solutions obtained will be evaluated by a jury consisting of company members and university teaching staff.</p>
<br/>

<span class="label warning">Team Design</span>
<br><br>

<p>In this category, participants are tested on their practical skills, creativity and inventiveness. 
The participating company sets a problem to make each team think, design and construct 
the most appropriate solution using the provided material and within the time limit. 
Result obtained must be a device fulfilling the objectives initially set.</p>
<br/>

<span class="label warning">Workshop</span>
<br><br>

<p>A workshop usually consists of small case studies, business simulations, group dynamics, or even training courses. 
There is a close contact between the companies and students.</p>
<br/>

<span class="label success">How can I participate?</span>
<br><br>

<p>Do not miss the experience to work with remarkable companies, 
<b>you will get ALE credits and an iPod</b> as a prize!</p>
<p>Click <%= link_to "here", new_participants_path %> to participate in BEST-WEC. 
This is your opportunity!</p>
