<% set_title "Location" %>
<% set_header "Location" %>

<iframe width="625" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=campus+nord+upc+barcelona&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.775203,86.572266&amp;vpsrc=0&amp;ie=UTF8&amp;hq=campus+nord+upc+barcelona&amp;t=m&amp;ll=41.388594,2.112293&amp;spn=0.030909,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=campus+nord+upc+barcelona&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.775203,86.572266&amp;vpsrc=0&amp;ie=UTF8&amp;hq=campus+nord+upc+barcelona&amp;t=m&amp;ll=41.388594,2.112293&amp;spn=0.030909,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<br><br>
<p>You can also reach UPC Campus Nord by public transportation:</p>
<dl>
        <dt>By underground:</dt>
        <dd>Take the metro (line 3, green) and take off at "Zona Universitaria"</dd>
        <dt>By taxi:</dt>
        <dd>The address is: UPC, Campus Nord
            1-3, Jordi Girona Street, next to Cuartel del Bruc.</dd>
        <dt>By bus:</dt>
        <dd>There are many bus lines that can take you to Campus Nord: 7, 22, 33, 54, 60, 63, 67, 68, 74, 75 and 113.</dd>
	<dd>Check <a href="http://www.tmb.net/es_ES/barcelona/moute/planols/planols.jsp">here</a> which bus does the route you need.</dd>
</dl>
