<% set_title :location %>
<% set_header :location %>

<iframe width="625" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=campus+nord+upc+barcelona&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.775203,86.572266&amp;vpsrc=0&amp;ie=UTF8&amp;hq=campus+nord+upc+barcelona&amp;t=m&amp;ll=41.388594,2.112293&amp;spn=0.030909,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=campus+nord+upc+barcelona&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.775203,86.572266&amp;vpsrc=0&amp;ie=UTF8&amp;hq=campus+nord+upc+barcelona&amp;t=m&amp;ll=41.388594,2.112293&amp;spn=0.030909,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Muestra un mapa más grande</a></small>

<br><br>
<p>El transporte público también te lleva al Campus Nord de la UPC:</p>
<dl>
        <dt>En metro:</dt>
        <dd>Coger el Metro (Línia 3, verde) y bajarse en "Zona Universitaria".</dd>
        <dt>En taxi:</dt>
        <dd>La dirección es: UPC, Campus Nord
            C/ Jordi Girona 1-3, junto al Cuartel del Bruc.</dd>
        <dt>En bus:</dt>
        <dd>Hay muchas líneas de autobús que te acercan al Campus Nord: 7, 22, 33, 54, 60, 63, 67, 68, 74, 75 y 113.</dd>
	<dd>Consulta <a href="http://www.tmb.net/es_ES/barcelona/moute/planols/planols.jsp">aquí</a> qué autobús coger para tu trayecto.</dd>
</dl>
