a:link {color:#888; text-decoration:none;}    /* unvisited link */
a:visited {color:#999; text-decoration:none;} /* visited link */
a:hover {color:#555; text-decoration:none;}   /* mouse over link */
a:active {color:#666; text-decoration:none;}

h3 {color:#EE4000;}

/* ul { list-style-type: square; } */

body {
  background: #FFF;
  font-family: Verdana;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
